<h1>Sequences#input</h1>
<p>Find me in app/views/sequences/input.html.erb</p>
<form action="/sequences/calculate" method="get" data-remote="true" id="calc_form" accept-charset="UTF-8" data-type="json">
  <label for="v1" > Число: </label>
  <input type="text" id="v1" name="v1" pattern="^([0-9])+"  value="10" required/>
  <label for="v2" style="margin-left: 20px"> Последовательность: </label>
  <input type="text" id="v2" name="v2"  pattern="^([0-9]+[\s]{0,1})+"  value="1 2 3 4 9 16 3 2 4 10" required/>
  <button>Найти!</button>
</form>
<div id="result"> </div>
