@import "bootstrap";

html, body {
  height: 100%;
}

html {
  position: relative;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}
