
<div style="align-content: center; margin-left: auto; margin-right: auto;">
     <div class="row">
       <div class="col-3">
       </div>
       <div class="col-6" style="margin-left: 180px; margin-right: auto;">
         <h4>Sequences#view</h4>
         <%= @table.html_safe %>
         <br/>
         <%= link_to "Рассчитать заново", input_path %>
       </div>
       <div class="col-3">
       </div>
     </div>
</div>
